#welcome{
    /* width: 60%; */
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    text-align: center;
}

.title{
    text-align: center;
}

.features{
    display: flex;
}


.projectContents{
    display: flex;
}

#pricingTable{
    text-align: center;
}

.pricingTableContents{
    align-items: center;
    justify-content: center;
    display: flex;
}

.teamMembers{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

}

.blogContents{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact{
    display: flex;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}