.welcome{
    /* width: 60%; */
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    text-align: center;
}

.title{
    text-align: center;
}

.features{
    display: flex;
}



.projectContents{
    display: flex;
}

.pricingTable{
    text-align: center;
}

.pricingTableContents{
    align-items: center;
    justify-content: center;
    display: flex;
}
